body {
    font-size: 14px;
    /* font-family:'Source Sans Pro'; */
    /* font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif; */
    background: whitesmoke;
}

#calendar {
    max-width: 900px;
    margin: 50px auto;
  }

.col-7{
    /* background-color: lightblue; */
}

.col-5{
    /* background-color: lightgoldenrodyellow; */
}

#forecast-view{
font-size: 24px;
}

.container-reading{
    margin-right:25px;
}
/* BUTTON CSS */
.button-images {
  max-width: 600px;
  margin: 10px auto;
  margin-bottom: 20px;
}
  
.button-container {
  position: relative;
  text-align: center;
  padding: 0;
  border-radius:50%; 
  overflow:hidden; 
}
  
.button-container A:before{  
  content: '';
  display: inline-block;
  height: 48%; 
  vertical-align:middle; 
  /* height: 100%;*/ */
}
  
h6{
    /* padding-top: 10px;
    margin-bottom: 4px; */
    vertical-align: middle;
}

.button-container a {
    transition: all 1s ease-out;
    background: rgba(255, 255, 255, 0.600);
    border-radius:50%; vertical-align:middle;
    padding:5%; 
    color: #000000;
    position:absolute;
    /* font-size: 1.125em;  */
    font-weight: 700; 
    top: 0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    display:inline-block;
    text-decoration: none;
    /* text-transform:uppercase; */
}
  
.button-container A:hover {
    background: none;
    border: none; 
    opacity:0;
}

.button-container img{
      width:100%; 
      height:auto; 
      display:block
}
  
.one_fourth {
  position: relative;
  margin: 2%;
  float: left;
  min-height: 1px;
  width: 20%;
  height: auto !important;
}
  